<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I.E.P. San Gabriel</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="login-container">
        <div class="login-img">
            <img class="img" src="/img/img-login.png">
        </div>
        <div class="content-container">
            <div class="title-content">
                <h1 class="title">La nueva experiencia digital de aprendizaje</h1>
                <h2 class="sub-title">Cercana, Dinámica y flexible</h2>
            </div>
            <div th:if="${param.error}" style="color: red; text-align: center;">
                DNI o contraseña incorrectos.
            </div>
            <div th:if="${param.logout}" style="color: green; text-align: center;">
                Has cerrado sesión correctamente.
            </div>
            <form class="form" th:action="@{/login}" method="post">
                <div class="title-form-container section-form">
                    <h2 class="title-form">Ingresa tus datos para <span class="title-form-second">iniciar sesión</span></h2>
                </div>
                <div class="section-form">
                    <label class="label-form" for="dni">DNI</label>
                    <input class="input-form" type="text" id="username" name="username" placeholder="Ingresa tu DNI" required>
                    <span class="text-info">Ejemplo de DNI: 10341537 (no digitar más de 8 números)</span>
                </div>

                <div class="section-form">
                    <label class="label-form" for="password">Contraseña</label>
                    <input class="input-form" type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required>
                </div>

                <div class="section-form">
                    
                    <button class="btn-login" type="submit">Iniciar sesión</button>
                </div>
                
            </form>
        </div>
    </div>
</body>
</html>